.SignationLogo{
    width: 18%;
    padding-left: 2%;
    padding-top: 1%;
}

.motto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20%;
    margin-bottom: 5%;
    /* width: 60%; */
    text-align: center;
    color: white;
    /* background-color: rgb(27, 44, 54);
    margin-left: 20%;
    margin-right: 20%;
    align-content: center; */
    font-weight: bold;
}

.nav-wrapper{
    /* background-image: url("../images/Wood1.jpg"); */
    background-color: rgb(50, 48, 82);
    padding-bottom: 5.5%;
}

.metal{
    border: solid 25px rgb(50, 48, 82);
    /* border-radius: 25px; */
}

.card-wrapper{
    background-color: white;
    color: rgb(50, 48, 82);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    /* border: solid 5px rgb(24, 8, 241);
    border-radius: 10px; */
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-weight: bold;
}

.card-wrapper h5{
    font-size: initial;
}

.card-text{
    color: rgb(50, 48, 82);
    /* font-weight: bold; */
    /* padding: 1%;  */
}

.card-title{
    font-weight: bold;
    margin-top: 10px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.icon-color{
    color: yellow;
}

.carousel {
    /* height: 300px; */
}

.carousel .carousel-item {
    width:500px !important;}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 10vw);
    grid-gap: 5px;
    background-color: grey;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.gallery__item {
    margin: 0px;
    align-items: center;
}

.client-title {
    margin: 150px 0px 150px 0px;
}

footer {
    height: 10%;
    background-color: rgb(50, 48, 82) !important;
}